body {
    font-family: Montserrat, sans-serif;
    /* background: linear-gradient(to right, #ff7e5f, #feb47b); */
    text-align: center;
    background: linear-gradient(to right, #ff9a9e, #fad0c4);
    color: rgba(255, 255, 255, 0.747) ;
}

.container {
    width: 600px;
    margin: 100px auto;
    padding: 50px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
}
.playerOneInput{
    margin: 20px 0;
    min-height: 13px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #fff;
    color: #333;
    font-size: 16px;
}

.playerOneButton {
    background: #ff6b6b;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background: #ff4757;
}